body{
    background-color: rgb(191, 214, 178);
    margin:30px 95px 30px 95px;
    font-family:Arial, Helvetica, sans-serif;
    height:1000px;
}
.mainBox1{
    color:black;
    width:850px;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
    position:relative;
    left:100px;
}
.title{
    display:inline;
    font-size:38px;
}
.toAdd{
    display:inline;
    padding-top:40px;
}
.toAdd a{
    text-decoration:none;
    color:white;
}
.toAdd span{
    font-size:27px;
}
.mainBox2{
    position:relative;
    top:40px; left:100px;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    width:850px; height:650px;
}
#byDefault{
    color:black;
    font-size:26px;
}
.tasks{
    border:1px solid white;
    border-radius:15px;
    background-color: white;
    height:48%; width:22%;
}
#newListBox{
    display:flex;
    justify-content:center;
    align-items:center;
    visibility:hidden;
    z-index:3;
    position:absolute;
    top:35%; left:35%;
}
.popUpNewList{
    border:1px solid orangered;
    border-radius:8px;
    background-color:black;
    width:350px;
    height:150px;
    text-align:center;
    box-shadow:5px 5px 10px grey;
    padding:40px;
}
.popUpNewList input[type=text]{
    width:250px;
    height:30px;
    text-align:center;
}
#addBtn{
    width:80px;
    height:30px;
    border:1px solid orangered;
    border-radius:15px;
    background-color: orangered;
    color:white;
    font-size:18px;
}
#closeBtn{
    width:80px;
    height:30px;
    border:1px solid orangered;
    border-radius:15px;
    background-color: orangered;
    color:white;
    font-size:18px;
}
.listTitle{
    color:orangered;
    font-size: 18px;
    text-align: center;
}
#newItemBox{
    display:flex;
    justify-content:center;
    align-items:center;
    visibility:hidden;
    z-index:3;
    position:absolute;
    top:35%; left:35%;
}
#addTask{
    width:80px;
    height:30px;
    border:1px solid orangered;
    border-radius:15px;
    background-color: orangered;
    color:white;
    font-size:18px;
}
#closeTask{
    width:80px;
    height:30px;
    border:1px solid orangered;
    border-radius:15px;
    background-color: orangered;
    color:white;
    font-size:18px;
}
.fa-trash{
    color:orangered;
    font-size:26px;
    position:relative;
    top:63%; left:55%;
}
.circle-plus{
    color:cornflowerblue;
    position:relative;
    top:63%; left:60%;
    font-size:26px;
}
.crossbtn{
    background-color: cornflowerblue;
    border:1px solid cornflowerblue;
    border-radius:12px;
}
@media only screen and (min-width:320px) and (max-width:576px)
{
    .mainBox1{
        flex-direction:column;
    }
}